{% extends "themes/base_admin.html.twig" %}
{% block title %}Votre espace d'admistration{% endblock %}
{% block description %}Espace d'admistration. Gérez vos articles, catégories et le contenue. {% endblock %}

{% block main %}
        <h1 class = "text-center my-3 display-5">Bonjours {{app.user.firstname}}</h1>
{% endblock %}