html * {
  font-family: ;
}

body {
  min-height: 100vh;
}
/* EFFEt LUMIERE */
.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

.button {
  --border-right: 6px;
  --text-stroke-color: #c50e0e;
  --animation-color: #ec0e0e;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
h1{
    justify-content : center;
    display : flex;
    align-content: center;
}
/* FIN LUMIERE */


#container-hero{
    background: linear-gradient(18deg, #af1818 0%, #000000 100%);
    border-radius: 20px; 
} 


.patterns{
    background-color: #000000;
    opacity: 0.8;
    background-image:  radial-gradient(#ff0000 1.1px, transparent 1.1px), radial-gradient(#ff0000 1.1px, #000000 1.1px);
    background-size: 44px 44px;
    background-position: 0 0,22px 22px;
}

.container-feli{

    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 500px){
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    } 
}

