{% extends "themes/base_visitor.html.twig" %}
{% block title %}Page Contact{% endblock %}
{% block description %}Rentrez en contact avec nous pour n'importe quel type d'informations, conseils ou propositions sportifs.{% endblock %}
{% block keywords %} musculation, fitness, entraînement, exercices, santé, bien-être, performance sportive, nutrition, bodybuilding, sport, exercices physiques, entraînement musculaire, programme d'entraînement, équipement de fitness, conseils sportifs, développement musculaire, athlétisme, force physique, endurance, mode de vie actif, corps sain, motivation sportive , page contatc{% endblock %}

{% block main %}
<h1 class="text-center my-3 display-5 ">Page Contact</h1>
{% endblock %}