<h1>Salut! Veuillez valider votre compte! </h1>

<p>
    Veuillez valider votre mail dans le lien ci-dessus: <br><br>
    <a href="{{ signedUrl|raw }}">Validation de votre compte. </a>.
    Ce lien sera plus valide dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci a vous!
</p>
