<h1>Bonjour!</h1>

<p>Pour réinitialiser votre mot de passe , veuillez cliquer sur ce lien. </p>

<a href="{{ url('visitor.authentication.reset_password', {token: resetToken.token}) }}">{{ url('visitor.authentication.reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien sera plus valide dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Bien cordialment </p>
<p>Feliciano MANDJAM BLOGSPORT </p>
