{% extends "themes/base_user.html.twig" %}

{% block title %} - Espace privé{% endblock %}

{% block description %}Votre espace privé{% endblock %}

{% block style %}
<style>

#card {
 width: 290px;
 height: 354px;
 border-radius: 30px;
 background: #212121;
 box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
             
}

</style>

{% endblock %}
{% block main %}
    <h1 class="text-center my-3 display-5">Hello {{app.user.firstName}} {{app.user.lastName}}</h1>

    <div class="container" id="card">
        <div class="row " >
            <div class=" d-flex justify-content-center align-items-center my-3 bg-dark">
                <div class="card text-center text-bg-light my-3 w-100 h-100">
                    <div class="card-header">Nombre total de commentaires</div>
                    <div class="card-body">
                        <p class="card-text">{{app.user.comments|length}}</p>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
